* {
    margin: 0;
    padding: 0;
}

#body {
    width: 500px;
    height: 550px;
    border: 1px solid black;
    margin: auto;
    overflow-y: scroll;
    list-style: none;
}

#heading {
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid black;
    padding: 10px;
}

#accept , #sub {
    padding: 10px;
    text-align: center;
}

#accept {
    width: 450px;
}

#sub {
    margin-top: 20px;
}

#submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    border-bottom: 1px solid black;
}

#disp {
    width: 75%;
    padding: 10px; 
    margin-left: 25px;
    font-size: 20px;
    margin-bottom: 10px;
}