@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

#game {
    margin: auto;
    max-width: 500px;
    border: 1px solid black;
    background-color: rgba(126,227,235,1);
}

button {
    padding: 5px;
    margin: 15px 25px;
}

body {
    font-family: 'Work Sans', sans-serif;
    min-width: 400px;
}

h2 {
    margin-left: 15px;
}